body{
    margin: 0%;
    padding: 0%;
     background-image: url(/images/background.jpg);
     opacity: 95%;
   
    }

.navba{
    background-color: #67121e;
    padding: 10px;
   

}
.Mot{
    color: white;
    display: flex;
    flex-direction: column;
     margin-left: 75px;
    margin-top: 96px;
    row-gap: 25px;
}

