body{
    margin: 0%;
    padding: 0%;
     background-color: black;
}
.navbar{
    background-color: #67121e;
}
.inp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.First{
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 400px;
    
}
.In{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 200px;
    height: 200px;
    margin-top: 1%;
    margin-left: 3%;
    
    
}
.films{
    margin-top: 80px;
    display: flex;
    align-items: center; 
    gap: 66px; 
    padding: 9px;   
}
.film{
    border-radius: 20px;
    background-color: aliceblue;
    position: relative;
    width: 150px;
    height: 230px;
    transition: transform 0,3s ease-in-out;
}
.film :hover{
transform: scale(1.1);
}
.film img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
   
}
.film button{
    cursor: pointer;
}
.Modifier{
    background-color: blue;
     
}
.Supprimer{
    background-color: red;
   
}
.film button a{
    text-decoration: none;
    color: #f4eeee;
}
